/* add google fonts */
@import url(http://fonts.googleapis.com/css?family=Alef);
body {
	background-color: #B8C5FA;
	/* Anonymous Actor */
	font-family: 'Actor', sans-serif;
	color: black;
	text-align: auto;
}

h1 {
	color: black;
	/* Galindo */
	font-family: 'Acme', sans-serif;
	font-size: 43px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: left;
	
}
#slogan {
	color: black;
	font-size: 25px;
	text-align: left;
	/* Galindo */
	font-family: 'Acme', sans-serif;
}

h3 {
	text-align: left;
	color: blue;
	font-size: 20px;
	/* Galindo */
	font-family: 'Acme', sans-serif;
}

p {
	text-align: left;
	font-size: 15px;
	font-weight: bold;
}
ul {
	text-align: left;
	font-size: medium;
}

a:hover {
	color: red;
}

.emailme {
	color: black;
	text-align: left;
}
.nav {
	color: black;
	text-align: left;
}
.contact {
	color: black;
}