body {
	font-family: 'Special Elite', cursive;
	font-size: 15px;
	line-height: 21px;
	margin:0 auto;
	text-transform: none;
	text-align: center;
}

a {
	color: #dd0000;
	text-decoration: none;

.clearfix:after {
	visibility: hidden;
	display: block;
	content: " ";
	clear: 0;
	height: 0;
	font-size: 0;
}

#wrapper {
	width: 1098px;
}

a:hover {
	background-color: #72B57C;
}

nav a {
	background-color: #A8A7A4;
	color: white;
	width: 270px;
	display: block;
	font-size: 24px;
	text-align: center;
	padding: 12px 0;
	float: left;
}

footer {
	text-align: right;
	padding: 10px;
}