body {
	font-family: 'Special Elite', cursive;
	font-size: 15px;
	line-height: 18px;
}

#wrapper {
	width: 1080px;
	margin: 0 auto;
}

h5 {
	color: blue;
	font-size: 20px;
	font-weight: normal;
}

a {
	color: #dd0000;
	text-decoration: none;
}

nav a {
	background-color: #A8A7A4;
	color: white;
	width: 265px;
	display: block;
	font-size: 24px;
	text-align: center;
	padding: 12px 0;
	float: left;
}

nav a:hover {
	background-color: #478F3B;
}

#paragraph {
	clear: both;
}

.clearfix:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

img {
	width: 1060px;
}

.title {
	clear: both;
	display: block;
	float: left;
	margin: auto;
}

.about image {
	width: 150px;
	margin: 0 20px
	display: inline;
	padding: 150px;
	border: 1px solid black;
}

#about image {
	width: 300px;
	float: right;

}

#about {
	float: right;
}

.about nikki {
	float: right;
}

#text {
	text-align: right;
}