* {
	margin: 0;
	padding: 0;
}	
body {
	background: #E2D981;
  	margin: 0 auto;
  	font-family: serif;
  /* background: linear-gradient(to right, rgba(245,239,152,1) 0%, rgba(254,202,118,1) 100%); */
}
#wrapper {
  width: 100%;
  margin: 0 auto;
}

.nav_bar_leftside {
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0px 2px 0px 0px;
	margin-top: 60px;
	float: left;
	margin-left: 70px;
}
.nav_bar_leftside a {
	color: #000000;
	text-decoration: none;
	margin-left: 15px;
	margin-right: 15px
}

.nav_bar_leftside a:hover {
	color: #959B98;
}

#nav_bar_rightside {
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	text-align: right;
	margin-right: 70px;
	float: right;
	margin-top: 60px;

}
#nav_bar_rightside a {
	color: #000000;
	text-decoration: none;
	margin-left: 15px;
	margin-right: 15px
}

#nav_bar_rightside a:hover {
	color: #959B98;
}

header {
	text-align: center;
	padding: 103px 0px;
	color: #2F2928;
	font-family: 'Covered By Your Grace', cursive;
}
h1 {
	font-size: 8.688em;
	color: #959B98;
	box-shadow: black;
}
h2 {
	font-size: 2.125em;
	color: #3F4B4C;
}

.recipesearchbutton {
	text-align: center;
	display: block;
	margin-bottom: 5%
	margin-top: 8%;
}

.recipesearchbutton a {
	padding: 12px 186px 12px 186px;
  	border-radius: 28px;
  	border: 3px solid #607360;
  	color: #FFFFFF;
  	font-size: 1.6em;
  	text-decoration: none;
  	letter-spacing: 0.2em;
  	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  	background-color: #DA6C47;
  	font-family: FontAwesome;
  }


.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

#recipes {
	padding: 50px;
	margin: 20px;
	float; left;
	text-align: center;
	font-size: 25px;
	font-weight: bolder;
}

#content {
	width: 100%;
    padding-top: 23px;
  /* padding-right: 5px; */
	padding-left: 185px;
	padding-bottom: 5px;
	height: 950px;
}

div {
	display: block;
}

.contentgallery {
   	width: 335px;
  	float: left;
  	margin-left: 16px;
  	margin-top: 90px;
  /* margin: 111px; */
  	border: 5px;
  	border-style: outset;
  	border-color: #DDDDE1;
  	height: 380px;
  	padding: 55px;
  	padding-left: 7px;
  	padding-bottom: 7px;
  	padding-top: 30px;
}

.contentgallery h3 {
	padding-left: 81px;
  	float: left;
  	padding-top: 15px;
  	font-family: FontAwesome;
  	font-style: normal;
  	font-weight: normal;
  	font-size: 20px;
}

img {
	box-shadow: 4px 0px 57px 8px rgba(0,0,0,0.75);
  	border-radius: 25px;
  	margin-left: 65px;
}

.buttonStyle {
	font-size: 16px;
  	float: right;
  	width: 80px;
  	padding-bottom: 4px;
  	padding-top: 5px;
  	padding-left: 0px;
  	border-radius: 15px;
  /* margin-bottom: 17px; */
  	margin-top: 18px;
  	background-color: #DA6C47;
  	padding-right: -7px;
  	margin-right: 100px;
}

.clear {
	clear: both;
}

#footer {
  	width: 236px;
}

#footer p {
	/* text-align: center; */
	font-family: FontAwesome;
  	font-size: 16px;
  	float: right;
  	width: 200px;
  	margin: 16px;
  /* margin-right: 671px; */
  	margin-top: 250px;
  /* padding-left: 62px; */

}

@media only screen and (max-width: 800px){

.nav_bar_leftside {
	  font-size: 15px;
	  margin-left: 40px;
}

#nav_bar_rightside {
	  font-size: 15px;
	  margin-right: 40px;
}

h1 {
	  font-size: 127px;
}

.recipesearchbutton {
	  margin-left: 8px;
 }

#content {
	  padding-left: 11px;
}

.contentgallery {
	  width: 333px;
	  margin-left: 178px;
	  margin-top: 45px;
	  padding: 45px; 
}

img {
	  border-radius: 25px;
	  margin-left: 40px; 
	}


.contentgallery h3 {
	  padding-left: 56px;
}

.buttonStyle {
	  margin-right: 125px;
}

#footer {
	  width: 221px;
	  margin: 110px;
	  padding-left: 200px;
	  padding-: -1px;
	  marging-left: 14px;
	  float: none;
}

  #footer p {
	  font-size: 15px;
	  float: left;
	  margin: 5px;
	  margin-top: 70px;
	  
}
}
@media only screen and (max-width: 328px){

.nav_bar_leftside {
  font-size: 9px;
  margin-left: 3px;
}

.nav_bar_leftside a {
  margin-left: 1px;
  margin-right: 1px;
}

#nav_bar_rightside {
  font-size: 9px;
  margin-right: 3px;
}

#nav_bar_rightside a {
  margin-left: 1px;
  margin-right: 1px;
}
}

@media only screen and (max-width: 553px){
.nav_bar_leftside {
 		font-size: 12px;
  		margin-left: 15px;
}

.nav_bar_leftside a {
	  margin-left: 10px;
	  margin-right: 10px;
}

#nav_bar_rightside {
  font-size: 12px;
  margin-right: 15px;
}

#nav_bar_rightside a {
  margin-left: 10px;
  margin-right: 10px;
  }

header {
  padding: 100px 0px;
  padding-bottom: 45px;
}

h1 {
  font-size: 90px;
}

h2 {
  font-size: 1.6em;

}

.recipesearchbutton {
  margin-left: 3px;
  padding: 32px 5px -15px 5px;
  /* margin-bottom: 0px; */
}

.recipesearchbutton a {
  padding: 12px 121px 12px 121px;
  font-size: 1.023em;
}

.contentgallery {
  margin-left: 60px;
  margin-top: 45px;
  padding: 25px;
}

#footer {
  margin: 110px;
  padding-left: 80px;
}

#footer p {
  margin: 4px;
  margin-top: 60px;
}
}