body {
	font-family: 'Special Elite', cursive;
	font-size: 18px;
	line-height: 10px;
}

#wrapper {
	width: 900px;
	margin: 0 auto;
}

h5 {
	color: blue;
	font-size: 20px;
	font-weight: normal;
}

header {
	margin: 54px 0;
}